DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=[someusername]
DOCKER_INFLUXDB_INIT_PASSWORD=[somepassword]
DOCKER_INFLUXDB_INIT_ORG=myorg
DOCKER_INFLUXDB_INIT_BUCKET=[somebucket]
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=[someauthtoken]

ETRADE_SANDBOX_API_KEY=[API_KEY]
ETRADE_SANDBOX_API_SECRET=[API_SECRET]